@import url('https://fonts.googleapis.com/css?family=Timmana&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
h3{
    font-family: 'Timmana', sans-serif;
}

@media (max-width: 475px) {
    #coaches{
        display: none;
    }
    #schedule{
        display:none;
    }
    #location{
        display: none;
    }
    .carousel {
        background: #FAFAFA;
    }
      
      /* .carousel-cell {
        width: 66%;
        height: 200px;
        margin-right: 10px;
        background: #8C8;
        border-radius: 5px;
        counter-increment: carousel-cell;
      } */
      
      /* cell number */
      /* .carousel-cell:before {
        display: block;
        text-align: center;
        content: counter(carousel-cell);
        line-height: 200px;
        font-size: 80px;
        color: white;
      } */

    .carousel-image {
        display: block;
        height: 300px;
        /* set min-width, allow images to set cell width */
        min-width: 150px;
        max-width: 100%;
        margin-right: 10px;
        margin-bottom: 0;
        margin-top: 10px;
        padding: 0%;
        /* vertically center */
        top: 50%;
        transform: translateY(-50%)
    }
      
    .carousel.is-fullscreen .carousel-image {
        height: auto;
        max-height: 100%;
    }
    

    .my-footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 1000px){
    .carousel {
        background: #EEE;
      }
      
      .carousel img {
        display: block;
        height: 400px;
      }
    .carousel-cell {
        width: 66%;
        height: 200px;
        margin-right: 10px;
        background: #8C8;
        border-radius: 5px;
        counter-increment: gallery-cell;
      }
      
      /* cell number */
      .carousel-cell:before {
        display: block;
        text-align: center;
        content: counter(gallery-cell);
        line-height: 200px;
        font-size: 80px;
        color: white;
      }

    .about{
        
    }
    .about .body-ab {
        
    }

    #coaches {
        background-image: url('../images/taticaEstrategia.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        /* width: 100vw; */
    }

    .head-ab h3{
        /* font-family: 'Timmana', sans-serif; */
        color:#37474f;
    }

    .coach-title h3{
        background-color: #3a3637;
        display: inline-flex;
        border-bottom: 1px solid white;
        color: #EEE;
        
    }

    .location-title h3 {
        display: inline-flex;
        border-bottom: 1px solid #37474f;
    }

    .tab-content{
        display: none;
    }
    .my-footer{
        display: none;
    }
    .nv{
        display: inline-block;
    }
    .footer-phone{
        display: none;
    } 


} 

